* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Web {
    width: 100%;
    height: 100%;
}

.Navbar {
    width: 100%;
    height: 64px;
    display: flex;  
}

.Navbar .img {
    width: 66px;
    height: 51px;
}

.Navbar .Navbar_name {
    width: 500px;
}

.Navbar_name ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.Navbar_name ul .color_li {
    color: #000000;
    opacity: 0.5;
}

.Navbar_name ul li {
    color: #000000;
    opacity: 0.8;
}

.input_nav {
    position: relative;
    height: 30px;
    width: 280px;
    max-width: 380px;
    background-color:#aca5a5;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); */
    /* margin: auto; */
    border-radius: 25px;
    margin-top: 20px;
}

.input_nav input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color:#aca5a5;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.input_nav .icon-a {
    position: absolute;
    right: -4px;
    top: 0;
    width: 50px;
    background:#FF6363;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 0 25px 25px 0;
}

.input_nav .icon-b {
    position: absolute;
    top: 6px;
    right: 16px;
}

.image_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_nav .icon {
    font-size: 18px; 
    margin: 0 24px; 
    color: #333; 
    transition: color 0.3s ease; 
}


.icon:hover {
    color: #ff6347; 
    cursor: pointer; 
}
.image {
    display: flex;
}

.image .img2 {
    width:100%;
    height: 360px;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: tomato;
    border-radius: 5px;
    top: -4px;
    right: 20px;
}




.user-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-options {
    position: absolute;
    top: 30px; 
    left: -50%; 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-width: 120px;
  }
  
  .hover-options p {
    margin: 5px;
    cursor: pointer;
  }
  
  .hover-options p:hover {
    text-decoration: none; 
    color: #007bff; 
    font-weight: bold; 
  }


  .hover_pro {
    text-decoration: none; 
    color: black; 
  }
  
  .hover_pro:hover {
    color: #007bff; 
  }

  .hover-options p::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 54%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  
  .user-icon {
    fill: #000;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 1024px) {
    .Navbar .img {
        width: 50px; 
        height: auto;
    }

    .Navbar_name {
        width: auto;
    }

    .Navbar_name ul {
        flex-direction:row; 
        align-items: flex-start; 
    }

    .input_nav {
        width: 250px; 
    }
}

@media (max-width: 768px) {
    .Navbar {
        height: auto;
    }

    .Navbar_name ul {
        margin-left: 6px; 
        gap: 0.5rem; 
        font-size: 12px;
    }

    .input_nav {
        width: 50%; 
        max-width: none;
        margin-top: 10px; 
    }

    .image_nav {
        justify-content: center; 
        margin-top: 10px; 
    }
}

@media (max-width: 524px) {
    .Navbar {
        padding: 0.5rem; 
    }

    .Navbar .img {
        width: 40px; 
        height: auto;
    }

    .Navbar_name ul li {
        font-size: 0.8rem; 
    }

    .input_nav {
        width: auto; 
    }
}